.input-search{
    margin-bottom: 20px;
}

/* ul{
    list-style: none;
}
ul li{
    float: left;
} */
.buttonMenu{
padding: 15px;
cursor: pointer;
}
.buttonMenu:hover{
    color: rgb(1, 68, 168);
    transition: 1s;
}
.buttonAnket{
    border-radius: 15px;
    background-color: rgb(165, 165, 165);
    padding: 10px;
    font-weight: bold;
}

td{padding: 15px;}

th{padding: 15px;}

nz-table{
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
}