<button nz-button nzType="primary" [routerLink]="['/admin-panel/user-manager']">Список жильцов</button>
<hr>
<button nz-button nzType="primary" [routerLink]="['/flat']">Добавить квартиру</button>

<button style="margin-left: 15px;" nz-button nzType="primary" [routerLink]="['/emptyflats']">Посмотреть свободные квартиры</button>

<button style="margin-left: 15px;" nz-button nzType="primary" [routerLink]="['/allflats']">Посмотреть все квартиры</button>

<button style="margin-left: 15px;" nz-button nzType="primary" [routerLink]="['/soldflats']">Посмотреть занятые квартиры</button>

<hr>
