@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* @import url(https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+JP:wght@900&family=Roboto&display=swap); */

body {
  
  font-family: 'Tahoma', sans-serif;
  /* font-family: 'Balsamiq Sans', cursive; */

  background-repeat: no-repeat;
}

.anketa {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.anketa-header,
.anketa p {
  margin-top: 0;
  margin-bottom: 0;
}
.textAnketa{
    height: 120px;
    
}

.anketa-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: rgb(34, 221, 75);
}

.anketa-header {
  background: rgb(5, 228, 79);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.anketa-container {
  background: #ebebeb;
  padding: 12px;
}


.anketa p {
  padding: 12px;


}

.anketa input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

/* .anketa input[type="email"],
.anketa input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
} */

.anketa input[type="submit"] {
  background: rgb(34, 62, 221);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.anketa input[type="submit"]:hover {
  background: rgb(17, 36, 204);
}

.anketa input[type="submit"]:focus {
  border-color: rgb(150, 38, 255);
}